Repository Wegatriespython/message-ix-models, changes with the owners that .github/CODEOWNERS names for each.
All owners: @measrainsey, @GamzeUnlu95, @macflo8, @khaeru, @r-aneeque, @adrivinca, @awais307

renaming water supply
  message_ix_models/model/water/data/water_supply.py
Owners: @adrivinca, @awais307

feat: DSL Debugging
  message_ix_models/comparision_run.py
  message_ix_models/model/water/data/demands.py
  message_ix_models/model/water/data/demands_legacy.py
  message_ix_models/model/water/data/demands_refactor.py
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/model/water/data/infrastructure_legacy.py
  message_ix_models/model/water/data/infrastructure_refactor.py
  message_ix_models/model/water/data/irrigation.py
  message_ix_models/model/water/data/irrigation_legacy.py
  message_ix_models/model/water/data/irrigation_refactor.py
  message_ix_models/model/water/data/water_for_ppl_legacy.py
  message_ix_models/model/water/data/water_for_ppl_refactor.py
  message_ix_models/model/water/data/water_supply.py
  message_ix_models/model/water/data/water_supply_refactor.py
Owners: @adrivinca, @awais307

refactor: demands and test demands
  message_ix_models/model/water/data/demands.py
  message_ix_models/tests/model/water/data/test_demands.py
Owners: @adrivinca, @awais307

issue: tests for major infra issues
  message_ix_models/tests/model/water/data/test_infrastructure.py
Owners: @adrivinca, @awais307

fix: 66%, basin tech filtering needed
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/tests/model/water/data/test_infrastructure.py
Owners: @adrivinca, @awais307

fix: correct water infrastructure cost unit conversion
  message_ix_models/data/water/infrastructure/extraction_techs.xlsx
  message_ix_models/data/water/infrastructure/water_distribution.xlsx
  message_ix_models/model/water/data/infrastructure.py
Owners: @adrivinca, @awais307

fix: failing demands tests
  message_ix_models/model/water/data/demands.py
  message_ix_models/model/water/utils.py
  message_ix_models/tests/model/water/data/test_demands.py
  message_ix_models/tests/model/water/data/test_infrastructure.py
Owners: @adrivinca, @awais307

tests: initial commit for full water build test
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/model/water/data/water_for_ppl.py
  message_ix_models/model/water/data/water_supply.py
  message_ix_models/model/water/utils.py
  message_ix_models/tests/model/water/data/test_infrastructure.py
  message_ix_models/tests/model/water/data/test_water_build_comprehensive.py
Owners: @adrivinca, @awais307

refactor: extract hardcoded water test setup into reusable fixtures
  message_ix_models/tests/model/water/data/test_water_build_comprehensive.py
Owners: @adrivinca, @awais307

feat: add scenario parameter to add_water_supply for testing and backward compatibility
  message_ix_models/model/water/data/water_supply.py
  message_ix_models/tests/model/water/data/test_water_build_comprehensive.py
Owners: @adrivinca, @awais307

feat: add scenario parameter to remaining 8 water data functions
  message_ix_models/model/water/data/demands.py
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/model/water/data/irrigation.py
  message_ix_models/model/water/data/water_for_ppl.py
  message_ix_models/model/water/data/water_supply.py
  message_ix_models/tests/model/water/data/test_water_build_comprehensive.py
Owners: @adrivinca, @awais307

fix: improve scenario handling and vintage-activity mapping in water supply
  message_ix_models/model/water/data/water_supply.py
Owners: @adrivinca, @awais307

test: add complete water technology sets to comprehensive test
  message_ix_models/tests/model/water/data/test_water_build_comprehensive.py
Owners: @adrivinca, @awais307

feat: add comprehensive water build with persistent scenario cloning
  message_ix_models/tests/model/water/data/test_water_build_comprehensive.py
Owners: @adrivinca, @awais307

fix: resolve technical lifetime ordering in infrastructure and add comprehensive validation tests
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/tests/model/water/data/test_water_build_comprehensive.py
Owners: @adrivinca, @awais307

fixes: issues with info.ya_yv
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/model/water/data/water_supply.py
  message_ix_models/model/water/utils.py
Owners: @adrivinca, @awais307

tests: Update to water build comprehensive
  message_ix_models/tests/model/water/data/test_water_build_comprehensive.py
  message_ix_models/tests/model/water/data/water_validation_ranges.yaml
Owners: @adrivinca, @awais307

fix: ruff & function name
  message_ix_models/tests/model/water/data/test_water_build_comprehensive.py
Owners: @adrivinca, @awais307

debug:remove water elec inputs
  remove_water_electricity_inputs.py
  water_technologies_with_electricity.yaml
Owners: none

debug: try increasing act growth up
  add_slack_cooling_techs.py
Owners: none

fixes: water build works 80%
  message_ix_models/tests/model/water/data/test_water_build_comprehensive.py
Owners: @adrivinca, @awais307

debug: salinewater_basin comments only, throw once done
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

test:Change from R11 to R12
  message_ix_models/tests/model/water/data/test_water_for_ppl.py
Owners: @adrivinca, @awais307

refactor(water) : rename extract_salinewater to extract_salinewater_cool
  message_ix_models/model/water/data/water_supply.py
  message_ix_models/model/water/report.py
  message_ix_models/tests/model/water/data/test_water_build_comprehensive.py
Owners: @adrivinca, @awais307

feat(water/data) : Swap xlsx files for csv for grepability.
  message_ix_models/data/water/infrastructure/all_basins.csv
  message_ix_models/data/water/infrastructure/desalination.csv
  message_ix_models/data/water/infrastructure/extraction_techs.csv
  message_ix_models/data/water/infrastructure/water_distribution.csv
  message_ix_models/data/water/infrastructure/water_technologies.csv
  message_ix_models/data/water/ppl_cooling_tech/power_plant_cooling_impact_MESSAGE.csv
  message_ix_models/data/water/ppl_cooling_tech/power_plant_cooling_impact_MESSAGE_R11_2p6.csv
  message_ix_models/data/water/ppl_cooling_tech/power_plant_cooling_impact_MESSAGE_R11_6p0.csv
  message_ix_models/data/water/ppl_cooling_tech/power_plant_cooling_impact_MESSAGE_R11_7p0.csv
  message_ix_models/data/water/ppl_cooling_tech/power_plant_cooling_impact_MESSAGE_R12_2p6.csv
  message_ix_models/data/water/ppl_cooling_tech/power_plant_cooling_impact_MESSAGE_R12_6p0.csv
  message_ix_models/data/water/ppl_cooling_tech/power_plant_cooling_impact_MESSAGE_R12_7p0.csv
  message_ix_models/data/water/ppl_cooling_tech/power_plant_cooling_impact_MESSAGE_ZMB_2p6.csv
  message_ix_models/data/water/ppl_cooling_tech/power_plant_cooling_impact_MESSAGE_ZMB_6p0.csv
  message_ix_models/data/water/ppl_cooling_tech/power_plant_cooling_impact_MESSAGE_ZMB_7p0.csv
  message_ix_models/data/water/ppl_cooling_tech/power_plant_cooling_impact_MESSAGE_ref.csv
  message_ix_models/data/water/set.yaml
  message_ix_models/data/water/technology.yaml
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

fix(data/water/infra): Projected desal fix incorrect values.
  message_ix_models/data/water/infrastructure/desalination.csv
  message_ix_models/data/water/infrastructure/desalination.xlsx
  message_ix_models/data/water/infrastructure/projected_desalination_potential_km3_year_R12.csv
Owners: @adrivinca, @awais307

fix(water_for_ppl): Incorrect MJ instead of GJ and /1e-6 division
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

fix(water_for_ppl) : 1e6 instead of 1e-6
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

fix(water/data/infra): Assuming input is MWh/MCM instead of GWh/MCM
  message_ix_models/model/water/data/infrastructure.py
Owners: @adrivinca, @awais307

fix(water elec inputs): fix erroneous GWh to GWh
  message_ix_models/data/water/set.yaml
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/model/water/data/water_supply.py
Owners: @adrivinca, @awais307

fix(water-report): tech name change for extract salinewater cool; sdg check
  message_ix_models/model/water/report.py
Owners: @adrivinca, @awais307

Adjust .transport.workflow.tax_emission() for #350
  message_ix_models/model/transport/workflow.py
  message_ix_models/project/navigate/workflow.py
Owners: @khaeru, @r-aneeque

Add "TCE" to "emission" code list
  message_ix_models/data/emission.yaml
Owners: none

Add .model.emission.PRICE_EMISSION
  message_ix_models/model/emissions.py
  message_ix_models/tests/model/test_emissions.py
Owners: none

Satisfy mypy in .project.ssp.__init__
  message_ix_models/project/ssp/__init__.py
Owners: none

Add 9 items to "technology" codelist
  message_ix_models/data/technology.yaml
  message_ix_models/tests/model/test_bare.py
  message_ix_models/tests/model/test_structure.py
Owners: none

Adjust genno imports in .transport.data
  message_ix_models/model/transport/data.py
Owners: @khaeru, @r-aneeque

Drop .report.operator.exogenous_data, tests
  message_ix_models/report/operator.py
  message_ix_models/tests/tools/test_exo_data.py
Owners: none

Remove temporary test marks made for #328
  message_ix_models/tests/model/transport/test_report.py
Owners: @khaeru, @r-aneeque

Tolerate missing technology "sector" annotation
  message_ix_models/report/compat.py
Owners: none

.github/CODEOWNERS:

# Notes
# - No owner is assigned for "*". This means that changes to
#   all other files can be approved by any user with write
#   access to the repo.

/doc/api/tools-costs.rst              @measrainsey
/message_ix_models/data/costs         @measrainsey
/message_ix_models/data/intratec      @measrainsey
/message_ix_models/tests/tools/costs  @measrainsey
/message_ix_models/tools/costs        @measrainsey

/doc/material                            @GamzeUnlu95 @macflo8
/message_ix_models/data/material         @GamzeUnlu95 @macflo8
/message_ix_models/model/material        @GamzeUnlu95 @macflo8
/message_ix_models/tests/model/material  @GamzeUnlu95 @macflo8

/doc/transport
/message_ix_models/data/transport         @khaeru @r-aneeque
/message_ix_models/model/transport        @khaeru @r-aneeque
/message_ix_models/tests/model/transport  @khaeru @r-aneeque

/doc/water                            @adrivinca @awais307
/message_ix_models/data/water         @adrivinca @awais307
/message_ix_models/model/water        @adrivinca @awais307
/message_ix_models/tests/model/water  @adrivinca @awais307

# /message_ix_models/project/advance
# /message_ix_models/project/circeular
# /message_ix_models/project/edits
# /message_ix_models/project/engage
# /message_ix_models/project/gea

/doc/project/navigate.rst            @khaeru
/message_ix_models/project/navigate  @khaeru

# /message_ix_models/project/shape
# /message_ix_models/project/ssp
