Repository Wegatriespython/message-ix-models, changes with the owners that .github/CODEOWNERS names for each.
All owners: @measrainsey, @GamzeUnlu95, @macflo8, @khaeru, @r-aneeque, @adrivinca, @awais307

Fix nuc_lc set config
  message_ix_models/data/water/set.yaml
Owners: @adrivinca, @awais307

Pre-filter remove.set to speed up the build process
  message_ix_models/model/water/build.py
Owners: @adrivinca, @awais307

Add initial activity and other constraints from parent techs
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

Fixing at least 1 tech within shares of cooling tecs
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg_R11.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg_R12.csv
  message_ix_models/model/water/data/pre_processing/calculate_ppl_cooling_technology_shares.R
Owners: @adrivinca, @awais307

Revert 2020 input reading for scenario compatibility
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

Removing unused files with data also in cooltech_cost
  message_ix_models/data/water/ppl_cooling_tech/cool_techs_country_share.csv
  message_ix_models/data/water/ppl_cooling_tech/cool_techs_region_share.csv
  message_ix_models/data/water/ppl_cooling_tech/cool_techs_region_share_R11.csv
  message_ix_models/data/water/ppl_cooling_tech/cool_techs_region_share_R12.csv
  message_ix_models/data/water/ppl_cooling_tech/cool_techs_region_share_new_R11.csv
  message_ix_models/data/water/ppl_cooling_tech/cool_techs_region_share_new_R12.csv
Owners: @adrivinca, @awais307

Fixing nexus module matching of the basin's names
  message_ix_models/model/water/data/demands.py
  message_ix_models/model/water/data/water_supply.py
Owners: @adrivinca, @awais307

Update reporting for global model
  message_ix_models/model/water/report.py
Owners: @adrivinca, @awais307

Add calibration share constraints historical years
  message_ix_models/model/water/build.py
  message_ix_models/model/water/cli.py
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

update set of constraints, tech lifetime and hist cap and act
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

Remove obsolete tecs and update solar and wind input tecs
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_country.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg_R11.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg_R12.csv
  message_ix_models/data/water/ppl_cooling_tech/tech_water_performance_ssp_msg.csv
  message_ix_models/data/water/set.yaml
Owners: @adrivinca, @awais307

Revert to only 2 csp cooling parent tecs, csp_sm1_ppl
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_country.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg_R11.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg_R12.csv
  message_ix_models/data/water/ppl_cooling_tech/tech_water_performance_ssp_msg.csv
  message_ix_models/data/water/set.yaml
  message_ix_models/data/water/technology.yaml
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

Update csp also on the cost module
  message_ix_models/data/costs/cooling/tech_map.csv
Owners: @measrainsey

Homogenize the cooling constraints implementation
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

Setting default message_data reporting back
  message_ix_models/model/water/report.py
Owners: @adrivinca, @awais307

Fixing cooling share constraints and remove obsolete code
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

Revert commit on csp in cost m
  message_ix_models/data/costs/cooling/tech_map.csv
Owners: @measrainsey

Revert commit on 2 tecs csp with fixes
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_country.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg_R11.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg_R12.csv
  message_ix_models/data/water/ppl_cooling_tech/tech_water_performance_ssp_msg.csv
  message_ix_models/data/water/set.yaml
  message_ix_models/data/water/technology.yaml
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

TEMPORARY Enable "transport" CI workflow for PR
  .github/workflows/transport.yaml
Owners: none

Use genno.Keys in .transport.ldv
  message_ix_models/model/transport/ldv.py
Owners: @khaeru, @r-aneeque

Add check of LDV energy input
  message_ix_models/tests/model/transport/test_build.py
Owners: @khaeru, @r-aneeque

Handle >1 dimensions in broadcast_wildcard()
  message_ix_models/model/transport/operator.py
  message_ix_models/report/operator.py
Owners: @khaeru, @r-aneeque

Fix handling multiple dims in MappingAdapter
  message_ix_models/util/common.py
Owners: none

Updating path and adding constraints
  message_ix_models/tools/hydro/wrapper_newhydro.py
Owners: none

Handle input share of LDV PHEV technology
  message_ix_models/data/transport/input-share.csv
  message_ix_models/model/transport/build.py
  message_ix_models/model/transport/files.py
  message_ix_models/model/transport/ldv.py
Owners: @khaeru, @r-aneeque

Improve docstring, comments in test_debug()
  message_ix_models/tests/model/transport/test_build.py
Owners: @khaeru, @r-aneeque

Add .transport.operator.indexer_scenario()
  message_ix_models/model/transport/build.py
  message_ix_models/model/transport/ldv.py
  message_ix_models/model/transport/operator.py
Owners: @khaeru, @r-aneeque

Update SSP 1 ldv speed.csv
  message_ix_models/data/transport/R12/speed.csv
Owners: @khaeru, @r-aneeque

Experimental pdt-elasticity values for SSP1.csv
  message_ix_models/data/transport/R12/pdt-elasticity.csv
Owners: @khaeru, @r-aneeque

Add 'y' dimension to .transport.exo.pdt_elasticity
  message_ix_models/data/transport/R12/pdt-elasticity.csv
  message_ix_models/data/transport/pdt-elasticity.csv
  message_ix_models/model/transport/demand.py
  message_ix_models/model/transport/files.py
Owners: @khaeru, @r-aneeque

Update R12_SAS pdt-cap
  message_ix_models/data/transport/R12/pdt-cap-ref.csv
Owners: @khaeru, @r-aneeque

Adding historical csp technologies
  message_ix_models/data/costs/cooling/tech_map.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_country.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg_R11.csv
  message_ix_models/data/water/ppl_cooling_tech/cooltech_cost_and_shares_ssp_msg_R12.csv
  message_ix_models/data/water/ppl_cooling_tech/tech_water_performance_ssp_msg.csv
  message_ix_models/data/water/set.yaml
  message_ix_models/data/water/technology.yaml
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @measrainsey, @adrivinca, @awais307

LED-SSP1 mode speeds
  message_ix_models/data/transport/R12/speed.csv
Owners: @khaeru, @r-aneeque

TEMPORARY limit runs to SSP 1 & SSP 2
  .github/workflows/transport.yaml
Owners: none

remove white spaces
  message_ix_models/data/transport/R12/speed.csv
Owners: @khaeru, @r-aneeque

Move .transport…ExogenousDataFile to .util.sdmx.Dataflow
  message_ix_models/model/transport/build.py
  message_ix_models/model/transport/demand.py
  message_ix_models/model/transport/disutility.py
  message_ix_models/model/transport/files.py
  message_ix_models/model/transport/groups.py
  message_ix_models/model/transport/key.py
  message_ix_models/model/transport/ldv.py
  message_ix_models/model/transport/non_ldv.py
  message_ix_models/model/transport/report.py
  message_ix_models/project/ssp/transport.py
  message_ix_models/tests/model/transport/test_demand.py
  message_ix_models/tests/model/transport/test_files.py
  message_ix_models/tests/util/test_sdmx.py
  message_ix_models/util/sdmx.py
Owners: @khaeru, @r-aneeque

Ensure "c::transport+base" items are str
  message_ix_models/model/transport/build.py
  message_ix_models/report/operator.py
Owners: @khaeru, @r-aneeque

Consolidate data flows in .transport.data
  doc/conf.py
  doc/transport/input.rst
  doc/transport/output.rst
  message_ix_models/data/transport/R12/ldv-new-capacity.csv
  message_ix_models/data/transport/R12/lifetime-ldv.csv
  message_ix_models/data/transport/R12/load-factor-ldv.csv
  message_ix_models/model/transport/build.py
  message_ix_models/model/transport/data.py
  message_ix_models/model/transport/files.py
  message_ix_models/model/transport/key.py
  message_ix_models/tests/model/transport/test_data.py
  message_ix_models/tests/model/transport/test_files.py
  message_ix_models/tests/util/test_sdmx.py
Owners: @khaeru, @r-aneeque

Remove .util.sdmx.make_dataflow()
  message_ix_models/model/transport/build.py
  message_ix_models/model/transport/data.py
  message_ix_models/model/transport/files.py
  message_ix_models/model/transport/operator.py
  message_ix_models/model/transport/report.py
  message_ix_models/tests/util/test_sdmx.py
  message_ix_models/types.py
  message_ix_models/util/sdmx.py
Owners: @khaeru, @r-aneeque

Add Dataflow._update_doc() to generate docstrings
  message_ix_models/util/sdmx.py
Owners: none

.github/CODEOWNERS:

# Notes
# - No owner is assigned for "*". This means that changes to
#   all other files can be approved by any user with write
#   access to the repo.

/doc/api/tools-costs.rst              @measrainsey
/message_ix_models/data/costs         @measrainsey
/message_ix_models/data/intratec      @measrainsey
/message_ix_models/tests/tools/costs  @measrainsey
/message_ix_models/tools/costs        @measrainsey

/doc/material                            @GamzeUnlu95 @macflo8
/message_ix_models/data/material         @GamzeUnlu95 @macflo8
/message_ix_models/model/material        @GamzeUnlu95 @macflo8
/message_ix_models/tests/model/material  @GamzeUnlu95 @macflo8

/doc/transport
/message_ix_models/data/transport         @khaeru @r-aneeque
/message_ix_models/model/transport        @khaeru @r-aneeque
/message_ix_models/tests/model/transport  @khaeru @r-aneeque

/doc/water                            @adrivinca @awais307
/message_ix_models/data/water         @adrivinca @awais307
/message_ix_models/model/water        @adrivinca @awais307
/message_ix_models/tests/model/water  @adrivinca @awais307

# /message_ix_models/project/advance
# /message_ix_models/project/circeular
# /message_ix_models/project/edits
# /message_ix_models/project/engage
# /message_ix_models/project/gea

/doc/project/navigate.rst            @khaeru
/message_ix_models/project/navigate  @khaeru

# /message_ix_models/project/shape
# /message_ix_models/project/ssp
