Repository Wegatriespython/message-ix-models, changes with the owners that .github/CODEOWNERS names for each.
All owners: @measrainsey, @GamzeUnlu95, @macflo8, @khaeru, @r-aneeque, @adrivinca, @awais307

.github/CODEOWNERS:

# Notes
# - No owner is assigned for "*". This means that changes to
#   all other files can be approved by any user with write
#   access to the repo.

/doc/api/tools-costs.rst              @measrainsey
/message_ix_models/data/costs         @measrainsey
/message_ix_models/data/intratec      @measrainsey
/message_ix_models/tests/tools/costs  @measrainsey
/message_ix_models/tools/costs        @measrainsey

/doc/material                            @GamzeUnlu95 @macflo8
/message_ix_models/data/material         @GamzeUnlu95 @macflo8
/message_ix_models/model/material        @GamzeUnlu95 @macflo8
/message_ix_models/tests/model/material  @GamzeUnlu95 @macflo8

/doc/transport
/message_ix_models/data/transport         @khaeru @r-aneeque
/message_ix_models/model/transport        @khaeru @r-aneeque
/message_ix_models/tests/model/transport  @khaeru @r-aneeque

/doc/water                            @adrivinca @awais307
/message_ix_models/data/water         @adrivinca @awais307
/message_ix_models/model/water        @adrivinca @awais307
/message_ix_models/tests/model/water  @adrivinca @awais307

# /message_ix_models/project/advance
# /message_ix_models/project/circeular
# /message_ix_models/project/edits
# /message_ix_models/project/engage
# /message_ix_models/project/gea

/doc/project/navigate.rst            @khaeru
/message_ix_models/project/navigate  @khaeru

# /message_ix_models/project/shape
# /message_ix_models/project/ssp

Replace make_enum with an EnumType subclass
  message_ix_models/project/ssp/structure.py
  message_ix_models/tests/project/test_ssp.py
  message_ix_models/tests/util/test_sdmx.py
  message_ix_models/util/sdmx.py
Owners: none

Add item URNs to IIASA_ECE:AGENCIES
  message_ix_models/data/sdmx/IIASA_ECE_AGENCIES(0.1).xml
Owners: none

Simplify ExoDataSource concrete classes
  message_ix_models/model/emissions.py
  message_ix_models/model/transport/data.py
  message_ix_models/model/transport/ldv.py
  message_ix_models/project/advance/data.py
  message_ix_models/project/gea/data.py
  message_ix_models/project/shape/data.py
  message_ix_models/project/ssp/data.py
  message_ix_models/tools/exo_data.py
  message_ix_models/tools/gfei.py
  message_ix_models/tools/iea/eei.py
  message_ix_models/tools/iea/web.py
Owners: @khaeru, @r-aneeque

Add URNLookupMixin.urn property
  message_ix_models/project/ssp/structure.py
  message_ix_models/tests/util/test_sdmx.py
  message_ix_models/util/sdmx.py
Owners: none

Add gamsapi to tests requirements, for RTD
  pyproject.toml
Owners: none

Add advance_test_data fixture
  message_ix_models/testing/__init__.py
Owners: none

Swap prepare_computer() → ExoDataSource.add_tasks
  message_ix_models/model/material/data_util.py
  message_ix_models/model/material/material_demand/material_demand_calc.py
  message_ix_models/tools/costs/gdp.py
Owners: @GamzeUnlu95, @macflo8, @measrainsey

Adjust type hints in .transport.operator
  message_ix_models/model/transport/operator.py
Owners: @khaeru, @r-aneeque

Use SSP URN fragment to index transport data
  message_ix_models/model/transport/operator.py
Owners: @khaeru, @r-aneeque

Remove .tools.advance, tests, and docs
  doc/api/tools.rst
  message_ix_models/tests/tools/test_advance.py
  message_ix_models/tools/advance.py
Owners: none

Adjust options reference in IEA_EEI
  message_ix_models/tests/tools/iea/test_eei.py
  message_ix_models/tools/iea/eei.py
Owners: none

Adjust 2 uses of testing.bare_res()
  message_ix_models/tests/test_testing.py
  message_ix_models/tests/test_workflow.py
Owners: none

Update tests of ExoDataSource classes
  message_ix_models/tests/project/test_advance.py
  message_ix_models/tests/project/test_gea.py
  message_ix_models/tests/project/test_shape.py
  message_ix_models/tests/project/test_ssp.py
  message_ix_models/tests/tools/iea/test_eei.py
  message_ix_models/tests/tools/iea/test_web.py
  message_ix_models/tests/tools/test_exo_data.py
  message_ix_models/tests/tools/test_gfei.py
Owners: none

Update transport/R12/act-non_ldv.csv for #349
  message_ix_models/data/transport/R12/act-non_ldv.csv
Owners: @khaeru, @r-aneeque

Add .model.emissions.Options
  message_ix_models/model/emissions.py
  message_ix_models/tests/model/test_emissions.py
Owners: none

Adjust ADVANCE data source
  message_ix_models/data/test/advance/advance_compare_20171018-134445.csv.xz
  message_ix_models/data/test/advance/advance_compare_20171018-134445.csv.zip
  message_ix_models/project/advance/data.py
  message_ix_models/testing/cli.py
  message_ix_models/tests/tools/test_iamc.py
Owners: none

Add .tools.exo_data.BaseOptions
  doc/api/tools.rst
  message_ix_models/model/transport/data.py
  message_ix_models/tests/tools/test_exo_data.py
  message_ix_models/tools/exo_data.py
Owners: @khaeru, @r-aneeque

Use ExoDataSource.add_tasks in transport build
  message_ix_models/model/transport/build.py
  message_ix_models/model/transport/ldv.py
  message_ix_models/model/transport/testing.py
Owners: @khaeru, @r-aneeque

Handle tar files in iamc_like_data_for_query
  message_ix_models/tools/iamc.py
Owners: none

Ensure URN is populated in register_agency()
  message_ix_models/util/sdmx.py
Owners: none

Ensure proper contents in .testing.build_transport()
  message_ix_models/model/transport/testing.py
  message_ix_models/testing/__init__.py
Owners: @khaeru, @r-aneeque

Use advance_test_data for transport build tests
  message_ix_models/model/transport/testing.py
  message_ix_models/tests/project/ssp/test_transport.py
  message_ix_models/tests/util/test_sdmx.py
Owners: @khaeru, @r-aneeque

fix(water_for_ppl): share_commodity_uo
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

Update transport/R12/mode-share/default.csv for #349
  message_ix_models/data/transport/R12/mode-share/default.csv
Owners: @khaeru, @r-aneeque

Adjust material code following #361
  message_ix_models/model/material/data_generic.py
  message_ix_models/model/material/data_steel.py
Owners: @GamzeUnlu95, @macflo8

Use SSP "3.2.beta" data in .transport.build
  message_ix_models/model/transport/build.py
Owners: @khaeru, @r-aneeque

Update transport/R12/freight-activity.csv for #349
  message_ix_models/data/transport/R12/freight-activity.csv
Owners: @khaeru, @r-aneeque

Update .transport.workflow.generate()
  message_ix_models/model/transport/workflow.py
  message_ix_models/tests/model/transport/test_workflow.py
Owners: @khaeru, @r-aneeque

Update transport/R12/pdt-cap.csv values for LED
  message_ix_models/data/transport/R12/pdt-cap.csv
Owners: @khaeru, @r-aneeque

fix(infrastructure): inp return correctly added
  message_ix_models/model/water/data/infrastructure.py
Owners: @adrivinca, @awais307

Use pytestconfig.stash for user's local data path
  message_ix_models/testing/__init__.py
Owners: none

ruff(infrastructure)
  message_ix_models/model/water/data/infrastructure.py
Owners: @adrivinca, @awais307

Skip transport…test_simulated_iamc on some CI jobs
  message_ix_models/tests/model/transport/test_report.py
Owners: @khaeru, @r-aneeque

Update transport/R12/ldv-t-share.csv for #349
  message_ix_models/data/transport/R12/ldv-t-share.csv
Owners: @khaeru, @r-aneeque

remove(hardcoded vtg yrs)
  message_ix_models/model/water/data/demands.py
  message_ix_models/model/water/data/infrastructure.py
Owners: @adrivinca, @awais307

Improve .transport.config.refresh_cl_scenario()
  message_ix_models/data/sdmx/IIASA_ECE_CL_TRANSPORT_SCENARIO(1.1.0).xml
  message_ix_models/model/transport/config.py
  message_ix_models/tests/model/transport/test_config.py
Owners: @khaeru, @r-aneeque

test(get_vintage_and_active_years)
  message_ix_models/tests/model/water/test_utils.py
Owners: @adrivinca, @awais307

comment(GLOBIOM unit) : verified MCM input.
  message_ix_models/model/water/data/demands.py
  message_ix_models/model/water/utils.py
Owners: @adrivinca, @awais307

format(ruff fixes): line length + formatting
  message_ix_models/model/water/build.py
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/model/water/data/water_for_ppl.py
  message_ix_models/model/water/data/water_supply.py
  message_ix_models/model/water/utils.py
  message_ix_models/tests/model/water/data/test_infrastructure.py
Owners: @adrivinca, @awais307

fix+tests(na & duplicates) : add tests for na and duplicates
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/model/water/data/water_supply.py
  message_ix_models/tests/model/water/data/test_demands.py
  message_ix_models/tests/model/water/data/test_infrastructure.py
  message_ix_models/tests/model/water/data/test_water_for_ppl.py
  message_ix_models/tests/model/water/data/test_water_supply.py
Owners: @adrivinca, @awais307
