Repository Wegatriespython/message-ix-models, changes with the owners that .github/CODEOWNERS names for each.
All owners: @measrainsey, @GamzeUnlu95, @macflo8, @khaeru, @r-aneeque, @adrivinca, @awais307

Handle "3.2.beta" release of SSP data
  message_ix_models/project/ssp/data.py
  message_ix_models/tests/project/test_ssp.py
  message_ix_models/tools/exo_data.py
Owners: none

ruff formatting changes
  message_ix_models/model/water/data/demands.py
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/model/water/data/water_for_ppl.py
  message_ix_models/model/water/data/water_supply.py
  message_ix_models/model/water/utils.py
Owners: @adrivinca, @awais307

Add #349 to doc/whatsnew
  doc/whatsnew.rst
  message_ix_models/model/emissions.py
  message_ix_models/util/sdmx.py
Owners: none

fix(infrastructure):source in Kwh/m3 not Gwa/km3
  message_ix_models/model/water/data/infrastructure.py
Owners: @adrivinca, @awais307

Add .tools.policy
  doc/api/tools.rst
  message_ix_models/tools/policy.py
Owners: none

remove(map_yv_ya_lt) : replaced with get_vintage_and_active_years
  message_ix_models/model/water/utils.py
  message_ix_models/tests/model/water/test_utils.py
Owners: @adrivinca, @awais307

Force scale-1=1.0 for (F ROAD, gas)
  message_ix_models/model/transport/base.py
Owners: @khaeru, @r-aneeque

Add .model.transport.policy
  message_ix_models/model/transport/policy.py
Owners: @khaeru, @r-aneeque

Update transport/R12/load-factor-ldv.csv for #349
  message_ix_models/data/transport/R12/load-factor-ldv.csv
Owners: @khaeru, @r-aneeque

Use base model=SSP_SSP*_v6.1 in transport workflow
  message_ix_models/data/sdmx/IIASA_ECE_CL_TRANSPORT_SCENARIO(1.1.0).xml
  message_ix_models/model/transport/config.py
Owners: @khaeru, @r-aneeque

remove(cool calib) from water/build.py
  message_ix_models/model/water/build.py
Owners: @adrivinca, @awais307

feat(infrastructure): use scen.firstmodelyear
  message_ix_models/model/water/data/infrastructure.py
Owners: @adrivinca, @awais307

Work around #375 for #349
  message_ix_models/testing/__init__.py
  message_ix_models/tests/model/transport/test_demand.py
  message_ix_models/tests/project/ssp/test_transport.py
  message_ix_models/tests/tools/iea/test_web.py
  message_ix_models/tests/util/test_context.py
Owners: @khaeru, @r-aneeque

Update transport/R12/elasticity-f.csv values for LED
  message_ix_models/data/transport/R12/elasticity-f.csv
Owners: @khaeru, @r-aneeque

feat(tech yaml): add extract_salinewater_cool
  message_ix_models/data/water/technology.yaml
Owners: @adrivinca, @awais307

remove(extract_salinewater) change to extract_salinewater_cool
  message_ix_models/data/water/technology.yaml
  message_ix_models/model/water/report.py
Owners: @adrivinca, @awais307

adjust(infra df bound desal)
  message_ix_models/model/water/data/infrastructure.py
Owners: @adrivinca, @awais307

Satisfy mypy following iiasa/ixmp#581
  message_ix_models/project/navigate/workflow.py
  message_ix_models/testing/__init__.py
  message_ix_models/tests/test_workflow.py
  message_ix_models/util/config.py
  message_ix_models/workflow.py
Owners: @khaeru

Update transport/R12/pdt-cap-ref.csv for #349
  message_ix_models/data/transport/R12/pdt-cap-ref.csv
Owners: @khaeru, @r-aneeque

feat(unit water data) : standandardize conv factors
  message_ix_models/model/water/data/demands.py
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/model/water/data/water_for_ppl.py
  message_ix_models/model/water/data/water_supply.py
  message_ix_models/model/water/utils.py
Owners: @adrivinca, @awais307

update(set): new units + calib removal
  message_ix_models/data/water/set.yaml
Owners: @adrivinca, @awais307

comment(share calib): temp commenting of share calib
  message_ix_models/data/water/set.yaml
  message_ix_models/model/water/build.py
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

Add AnnotationsMixIn.from_obj(…, globals=…) arg
  message_ix_models/util/sdmx.py
Owners: none

fix(reporting): Replace Km^3->MCM
  message_ix_models/model/water/report.py
Owners: @adrivinca, @awais307

fix(report) : incl sw & gw to om
  message_ix_models/model/water/report.py
Owners: @adrivinca, @awais307

fix(report) : incl sw & gw to om
  message_ix_models/model/water/report.py
Owners: @adrivinca, @awais307

fix(report): incl membrane to electr inp
  message_ix_models/model/water/report.py
Owners: @adrivinca, @awais307

fix(reporting): urban rural accounting mixups
  message_ix_models/model/water/report.py
Owners: @adrivinca, @awais307

fix(reporting): guard for non sdg case
  message_ix_models/model/water/report.py
Owners: @adrivinca, @awais307

feat(water cli): scen name incl rcp, sdg, rel
  message_ix_models/model/water/cli.py
Owners: @adrivinca, @awais307

experimental(build cli): modify existing scen instead
  build_nexus.py
  message_ix_models/model/water/cli.py
  message_ix_models/model/water/modify.py
Owners: @adrivinca, @awais307

Add non-negativity assertions
  message_ix_models/tests/model/water/data/test_demands.py
Owners: @adrivinca, @awais307

Fix negative groundwater share constraints
  message_ix_models/model/water/data/demands.py
Owners: @adrivinca, @awais307

Add basin filtering
  message_ix_models/model/water/build.py
  message_ix_models/model/water/cli.py
  message_ix_models/model/water/data/demands.py
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/model/water/data/irrigation.py
  message_ix_models/model/water/data/water_supply.py
  message_ix_models/model/water/utils.py
  message_ix_models/tests/model/water/conftest.py
  message_ix_models/tests/model/water/data/test_demands.py
  message_ix_models/tests/model/water/data/test_infrastructure.py
  message_ix_models/tests/model/water/data/test_irrigation.py
  message_ix_models/tests/model/water/data/test_water_for_ppl.py
  message_ix_models/tests/model/water/data/test_water_supply.py
Owners: @adrivinca, @awais307

Reproduced feasbility
  message_ix_models/model/water/data/water_for_ppl.py
Owners: @adrivinca, @awais307

Experimental genno based water reporting
  message_ix_models/model/water/build.py
  message_ix_models/model/water/report.py
  message_ix_models/model/water/water_generator.py
  message_ix_models/model/water/water_tech_spec.yaml
Owners: @adrivinca, @awais307

Fix type checking
  message_ix_models/model/water/report.py
Owners: @adrivinca, @awais307

Init add tools/impacts
  message_ix_models/tests/tools/impacts/__init__.py
  message_ix_models/tests/tools/impacts/test_climate.py
  message_ix_models/tests/tools/impacts/test_rime.py
  message_ix_models/tests/tools/impacts/test_risk.py
  message_ix_models/tests/tools/impacts/test_temporal.py
  message_ix_models/tools/impacts/__init__.py
  message_ix_models/tools/impacts/cache.py
  message_ix_models/tools/impacts/climate.py
  message_ix_models/tools/impacts/rime.py
  message_ix_models/tools/impacts/risk.py
  message_ix_models/tools/impacts/temporal.py
Owners: none

Add cooling and buildings domain impact stubs
  message_ix_models/model/buildings/impacts.py
  message_ix_models/model/water/data/cooling_impacts.py
Owners: @adrivinca, @awais307

Remove basin expansion from tools/impacts/rime
  message_ix_models/tests/tools/impacts/test_rime.py
  message_ix_models/tools/impacts/__init__.py
  message_ix_models/tools/impacts/rime.py
Owners: none

.github/CODEOWNERS:

# Notes
# - No owner is assigned for "*". This means that changes to
#   all other files can be approved by any user with write
#   access to the repo.

/doc/api/tools-costs.rst              @measrainsey
/message_ix_models/data/costs         @measrainsey
/message_ix_models/data/intratec      @measrainsey
/message_ix_models/tests/tools/costs  @measrainsey
/message_ix_models/tools/costs        @measrainsey

/doc/material                            @GamzeUnlu95 @macflo8
/message_ix_models/data/material         @GamzeUnlu95 @macflo8
/message_ix_models/model/material        @GamzeUnlu95 @macflo8
/message_ix_models/tests/model/material  @GamzeUnlu95 @macflo8

/doc/transport
/message_ix_models/data/transport         @khaeru @r-aneeque
/message_ix_models/model/transport        @khaeru @r-aneeque
/message_ix_models/tests/model/transport  @khaeru @r-aneeque

/doc/water                            @adrivinca @awais307
/message_ix_models/data/water         @adrivinca @awais307
/message_ix_models/model/water        @adrivinca @awais307
/message_ix_models/tests/model/water  @adrivinca @awais307

# /message_ix_models/project/advance
# /message_ix_models/project/circeular
# /message_ix_models/project/edits
# /message_ix_models/project/engage
# /message_ix_models/project/gea

/doc/project/navigate.rst            @khaeru
/message_ix_models/project/navigate  @khaeru

# /message_ix_models/project/shape
# /message_ix_models/project/ssp
