Repository Wegatriespython/message-ix-models, changes with the owners that .github/CODEOWNERS names for each.
All owners: @measrainsey, @GamzeUnlu95, @macflo8, @khaeru, @r-aneeque, @adrivinca, @awais307

.github/CODEOWNERS:

# Notes
# - No owner is assigned for "*". This means that changes to
#   all other files can be approved by any user with write
#   access to the repo.

/doc/api/tools-costs.rst              @measrainsey
/message_ix_models/data/costs         @measrainsey
/message_ix_models/data/intratec      @measrainsey
/message_ix_models/tests/tools/costs  @measrainsey
/message_ix_models/tools/costs        @measrainsey

/doc/material                            @GamzeUnlu95 @macflo8
/message_ix_models/data/material         @GamzeUnlu95 @macflo8
/message_ix_models/model/material        @GamzeUnlu95 @macflo8
/message_ix_models/tests/model/material  @GamzeUnlu95 @macflo8

/doc/transport
/message_ix_models/data/transport         @khaeru @r-aneeque
/message_ix_models/model/transport        @khaeru @r-aneeque
/message_ix_models/tests/model/transport  @khaeru @r-aneeque

/doc/water                            @adrivinca @awais307
/message_ix_models/data/water         @adrivinca @awais307
/message_ix_models/model/water        @adrivinca @awais307
/message_ix_models/tests/model/water  @adrivinca @awais307

# /message_ix_models/project/advance
# /message_ix_models/project/circeular
# /message_ix_models/project/edits
# /message_ix_models/project/engage
# /message_ix_models/project/gea

/doc/project/navigate.rst            @khaeru
/message_ix_models/project/navigate  @khaeru

# /message_ix_models/project/shape
# /message_ix_models/project/ssp

Add get_version(with_dev=...) argument
  message_ix_models/util/sdmx.py
Owners: none

Adjust for ixmp/message_ix 3.7.0; Python 3.9
  message_ix_models/model/transport/build.py
  message_ix_models/model/transport/key.py
  message_ix_models/tests/util/test_sdmx.py
  message_ix_models/util/genno.py
Owners: @khaeru, @r-aneeque

Speed setting for LED SSP 1
  message_ix_models/data/transport/R12/speed.csv
Owners: @khaeru, @r-aneeque

Update pdt-elasticity values for SSP 1 & SSP 2
  message_ix_models/data/transport/R12/pdt-elasticity.csv
Owners: @khaeru, @r-aneeque

TEMPORARY Run SSP 1 only
  .github/workflows/transport.yaml
Owners: none

REVERT SSP 1 speeds
  message_ix_models/data/transport/R12/speed.csv
Owners: @khaeru, @r-aneeque

remove R12_NAM share weight convergence
  message_ix_models/data/transport/R12/config.yaml
Owners: @khaeru, @r-aneeque

Experimental swc for R12_NAM
  message_ix_models/data/transport/R12/config.yaml
Owners: @khaeru, @r-aneeque

Update pdt-elasticity values for SSP 1
  message_ix_models/data/transport/R12/pdt-elasticity.csv
Owners: @khaeru, @r-aneeque

Experimental swc for R12_NAM
  message_ix_models/data/transport/R12/config.yaml
Owners: @khaeru, @r-aneeque

Update speed for SSP1 RAIL
  message_ix_models/data/transport/R12/speed.csv
Owners: @khaeru, @r-aneeque

Experimental pdt-elasticity values for SSP1 GN (except NAM)
  message_ix_models/data/transport/R12/pdt-elasticity.csv
Owners: @khaeru, @r-aneeque

Experimental swc for R12_NAM blank
  message_ix_models/data/transport/R12/config.yaml
Owners: @khaeru, @r-aneeque

Revert back last changes (blank, WEU) to R12_NAM swc
  message_ix_models/data/transport/R12/config.yaml
Owners: @khaeru, @r-aneeque

Experimental: AIR speed mode in certain regions in SSP 1
  message_ix_models/data/transport/R12/speed.csv
Owners: @khaeru, @r-aneeque

LED SSP 1 speeds
  message_ix_models/data/transport/R12/speed.csv
Owners: @khaeru, @r-aneeque

correct LED SSP1 speeds
  message_ix_models/data/transport/R12/speed.csv
Owners: @khaeru, @r-aneeque

Revert Speeds back to SSP1
  message_ix_models/data/transport/R12/speed.csv
Owners: @khaeru, @r-aneeque

Update pdt-elasticity for SSP2
  message_ix_models/data/transport/R12/pdt-elasticity.csv
Owners: @khaeru, @r-aneeque

Update transport to run SSP 2 only
  .github/workflows/transport.yaml
Owners: none

correction for pdt-elasticity SSP2
  message_ix_models/data/transport/R12/pdt-elasticity.csv
Owners: @khaeru, @r-aneeque

Update pdt-elasticity for SSP 3
  message_ix_models/data/transport/R12/pdt-elasticity.csv
Owners: @khaeru, @r-aneeque

TEMPORARY Run SSP3 only
  .github/workflows/transport.yaml
Owners: none

fix the SSP3 value for R12_RCPA
  message_ix_models/data/transport/R12/pdt-elasticity.csv
Owners: @khaeru, @r-aneeque

Update pdt-elasticity for SSP 4
  message_ix_models/data/transport/R12/pdt-elasticity.csv
Owners: @khaeru, @r-aneeque

Update load-factor-ldv for SSP differtiation
  message_ix_models/data/transport/R12/load-factor-ldv.csv
Owners: @khaeru, @r-aneeque

Update pdt-cap for LED SSP1
  message_ix_models/data/transport/R12/pdt-cap.csv
Owners: @khaeru, @r-aneeque

run all SSPs baseline version
  .github/workflows/transport.yaml
Owners: none

Adding old scripts and bound constraints
  message_ix_models/data/hydro/aggregate_message_regions.R
  message_ix_models/data/hydro/cost_curves.R
  message_ix_models/data/hydro/extended_data_adriano.R
  message_ix_models/data/hydro/functions_Fit.R
  message_ix_models/data/hydro/interface_MESSAGE.R
  message_ix_models/data/hydro/read_new_data_Adriano.R
  message_ix_models/tools/hydro/wrapper_newhydro.py
Owners: none

Fix: Improved error handling for SSP data source lookup
  message_ix_models/tools/exo_data.py
  message_ix_models/util/__init__.py
Owners: none

fixed linter errors and reduced log verbosity in exo_data
  message_ix_models/tools/exo_data.py
Owners: none

feat: add DSL parsing + water-data operations
  message_ix_models/model/water/dsl_engine.py
  message_ix_models/model/water/utils.py
  message_ix_models/tests/model/water/rules_test.py
  message_ix_models/tests/model/water/test_dsl_engine.py
  message_ix_models/tests/model/water/test_dsl_engine_pt2.py
Owners: @adrivinca, @awais307

feat(dsl-engine/demands): migrate demands DSL
  message_ix_models/model/water/data/demand_rules.py
  message_ix_models/model/water/data/demands.py
  message_ix_models/model/water/data/demands_legacy.py
  message_ix_models/tests/model/water/data/test_demands.py
  message_ix_models/tests/model/water/data/test_demands_parity.py
Owners: @adrivinca, @awais307

feat(dsl-engine/supply): migrate supply to DSL
  message_ix_models/model/water/data/water_supply.py
  message_ix_models/model/water/data/water_supply_legacy.py
  message_ix_models/model/water/data/water_supply_rules.py
  message_ix_models/tests/model/water/data/test_supply_parity.py
  message_ix_models/tests/model/water/data/test_water_supply.py
  message_ix_models/tests/model/water/test_dsl_engine.py
  message_ix_models/tests/model/water/test_dsl_engine_pt2.py
Owners: @adrivinca, @awais307

feat(dsl-engine/infra): migrate infra to DSL
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/model/water/data/infrastructure_legacy.py
  message_ix_models/model/water/data/infrastructure_rules.py
  message_ix_models/tests/model/water/data/test_infrastructure_parity.py
Owners: @adrivinca, @awais307

feat(citation_wrapper): utility to wrap citations
  message_ix_models/util/citation_wrapper.py
Owners: none

feat(dsl-engine/irrigation): irrigation to DSL
  message_ix_models/model/water/data/irrigation.py
  message_ix_models/model/water/data/irrigation_legacy.py
  message_ix_models/model/water/data/irrigation_rules.py
  message_ix_models/tests/model/water/data/test_irrigation.py
  message_ix_models/tests/model/water/data/test_irrigation_parity.py
Owners: @adrivinca, @awais307

feat(dsl-engine/water_for_ppl): migrate to DSL
  message_ix_models/model/water/data/water_for_ppl.py
  message_ix_models/model/water/data/water_for_ppl_legacy.py
  message_ix_models/model/water/data/water_for_ppl_rules.py
  message_ix_models/model/water/data/water_for_ppl_support.py
  message_ix_models/tests/model/water/data/test_water_for_ppl_parity.py
Owners: @adrivinca, @awais307

fix: ruff changes
  message_ix_models/model/water/data/water_for_ppl.py
  message_ix_models/model/water/data/water_for_ppl_support.py
Owners: @adrivinca, @awais307

debug
  message_ix_models/model/water/data/demands.py
  message_ix_models/model/water/data/demands_legacy.py
  message_ix_models/model/water/data/demands_refactor.py
  message_ix_models/model/water/data/infrastructure.py
  message_ix_models/model/water/data/infrastructure_legacy.py
  message_ix_models/model/water/data/infrastructure_refactor.py
  message_ix_models/model/water/data/irrigation.py
  message_ix_models/model/water/data/irrigation_legacy.py
  message_ix_models/model/water/data/irrigation_refactor.py
  message_ix_models/model/water/data/water_for_ppl.py
  message_ix_models/model/water/data/water_for_ppl_legacy.py
  message_ix_models/model/water/data/water_for_ppl_refactor.py
  message_ix_models/model/water/data/water_for_ppl_rules.py
  message_ix_models/model/water/data/water_supply_refactor.py
  message_ix_models/model/water/data/water_supply_rules.py
  message_ix_models/tests/model/water/data/test_supply_parity.py
  message_ix_models/tests/model/water/data/test_water_for_ppl_parity.py
Owners: @adrivinca, @awais307
